# The below FilesMatch stanza was added by your
#  hosting provider on 2013-06-26 12:10:11
#  to resolve a potential Apache 2.4
#  compatibility issue with your custom AddHandler(s)
#  for PHP.  If you feel this was in error, please
#  contact support and we will work to resolve the
#  issue.  Thanks!
<FilesMatch "\.(htm|html)$">
  Options +ExecCGI
</FilesMatch>

rewriteengine on
rewritecond %{HTTP_HOST} ^www.thijs.com$ [OR]
rewritecond %{HTTP_HOST} ^thijs.com$
rewriterule ^1$ "http\:\/\/link\.springer\.com\/article\/10\.1007\/s10623-012-9718-y\/" [R=301,L] #514b15fad2581
rewritecond %{HTTP_HOST} ^www.thijs.com$ [OR]
rewritecond %{HTTP_HOST} ^thijs.com$
rewriterule ^2$ "http\:\/\/arxiv\.org\/abs\/1111\.3597" [R=301,L] #514b1743d8d4d


Options +Indexes
Options +ExecCGI
AddType application/x-httpd-php5 .htm .html .php
AddHandler x-httpd-php5 .htm .html .php
