

/* ----------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,
kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	vertical-align: baseline;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    	font-size: 11pt;
	line-height: 19px;
}

:focus{
	outline: 0;
}

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body{
	background-color: #FFFFFF;
	line-height: 1;
	color: black;
}

ol,ul{
	list-style: none;
}

table{
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after{
	content: "";
}

blockquote, q{
	quotes: """";
}


/* ----------------------- */

a{ 
	color: #0000FF; 
}

a:hover{
	text-decoration: none;
}


/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */
.fixed:after{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.fixed{
	display: block;
}

/*  \*/

.fixed{
	min-height: 1%;
}

* html .fixed{
	height: 1%;
}

#cv{ 
	margin: 0px auto 0 auto; 
	width: 930px; 
	padding: 0 0 40px;  
	background-color: #FFFFFF; 
	border-bottom: 0px solid #FFA500; 
	border-top: 0px solid #FFA500;
}


/* ---------- HEADER ---------- */

.head-section{ 
	margin: 0; 
	padding: 20px 40px 20px 30px; 
	background-color: #FFFFFF;
	border-bottom: 1px solid #dfdfdf; 
}

.person{ 
	float: left; 
	margin-top: 0px; 
	margin-left: 0px;
	width: 560px; 
}

	.person img{ 
		float: left; 
		margin-right: 35px; 
		padding: 0px; 
		background-color: #FFFFFF; 
		border: 2px solid #dedede;
		margin-top: 5px;
	}
	
	.person h1{ 
		margin-top: 29px; 
		margin-bottom: 25px;
		color: #475261; 
		font-weight: 600; 
		font-size: 36pt; 
		letter-spacing: -1px;
	}

	.person h2{ 
		color:#475261; 
		font-weight: 500; 
		font-size: 16pt; 
	}
			
#contact-info{ 
	float: right; 
	margin-right: 60px;
	font-size: 10pt;
	line-height: 14pt;
}

#personalia{
	float: left; 
	margin-left: -80px; 
	width: 80px;
	font-size: 10pt;
	line-height: 14pt;
}

#sm{ 
	float: right; 
	width: 30px; 
	margin-right: -75px;
}

#sm-icons{
	padding-bottom: 5px;
}

li{
	margin-left: 15pt; 
	margin-bottom: 9pt;
}


/* ---------- SECTIONS ---------- */


.cv-section{ 
	margin: 0 30px; 
	padding: 25px 0; 
	border-bottom: 1px solid #dfdfdf;
}
	
.cv-section-name{ 
	float: left; 
	width: 150px; 
}

h2.cv-section-name{ 
	font-size: 18pt; 
	font-weight: 400; 
}
				
.cv-section-items{ 
	float: right; 
	margin-right: 0px; 
	width: 870px; 
}

.last-cv-section{ 
	border-bottom: none; 
}

li.pre{	list-style-image: url("images/pre.png"); }
li.conf{list-style-image: url("images/conf.png"); }
li.jour{list-style-image: url("images/jour.png"); }
li.thes{list-style-image: url("images/thes.png"); }
li.pat{ list-style-image: url("images/pat.png"); }
li.book{list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFElEQVQYlWPYdsn0PyHMMKqIKEUADRTdfb1bqsUAAAAASUVORK5CYII=");}

li.aut{	list-style-image: url("images/austria_64.png"); }
li.bel{	list-style-image: url("images/belgium_64.png"); }
li.bra{	list-style-image: url("images/brazil_64.png"); }
li.can{	list-style-image: url("images/canada_64.png"); }
li.chi{	list-style-image: url("images/china_64.png"); }
li.cze{	list-style-image: url("images/czech_64.png"); }
li.den{	list-style-image: url("images/denmark_64.png"); }
li.fid{	list-style-image: url("images/fide.png"); }
li.fra{	list-style-image: url("images/france_64.png"); }
li.ger{	list-style-image: url("images/germany_64.png"); }
li.ind{	list-style-image: url("images/india_64.png"); }
li.lat{	list-style-image: url("images/latvia_64.png"); }
li.mex{	list-style-image: url("images/mexico_64.png"); }
li.net{	list-style-image: url("images/netherlands_64.png"); }
li.pol{	list-style-image: url("images/poland_64.png"); }
li.por{	list-style-image: url("images/portugal_64.png"); }
li.spa{	list-style-image: url("images/spain_64.png"); }
li.swi{	list-style-image: url("images/switzerland_64.png"); }
li.uae{	list-style-image: url("images/uae_64.png"); }
li.usa{	list-style-image: url("images/usa_64.png"); }

/* ---------- ITEMS ---------- */	
			
.item{ 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	border-bottom: 0px; 
}

	/* ----- DATE ----- */		
	.item h4{ 
		float: right;  
		color: #333333; 
		font-size: 13pt;
	}

	/* ----- TITLE ----- */
	.item h2{ 

		font-size: 14pt; 
		font-weight: 500; 
		margin-bottom: 5pt; 
	}

	/* ----- SUBTITLE ----- */
	.item h3{ 
		margin-top: -5pt; 
		padding: 5px 0px 5px; 
		color: #262625; 
		
		font-size: 12pt; 
		font-style: italic; 
		font-weight: 400;
	}
	
	.item p{ 
		padding: 0px 0px 10px; 
		text-align: justify;
	}
	
	.item ul{ 
		padding: 0 0 15px; 
		list-style: outside; 
		text-align: justify;
	}

	.item ul li{ 
		list-style-type: disc; 
	}











.underlinemenu{
width: 100%;
border: 1px #AAAAAA solid;
background-color: #EEEEEE;
height: 44px;
}

.underlinemenu ul{
padding: 11px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
margin: 0;
text-align: center; 
}

.underlinemenu ul li{
display: inline;
}

.underlinemenu ul li a{
color: #494949;
padding: 11px 3px 7px 3px; /*top padding is 6px, bottom padding is 4px*/
margin-right: 50px; /*spacing between each menu link*/
text-decoration: none;
border-bottom: none; 
font-size: 16pt;
font-weight: 600;
}

.underlinemenu ul li a.selected{
border-bottom: 3px solid #FFA500;
color: #FFA500;
}

.underlinemenu ul li a:hover{
border-bottom: 3px solid #0000FF;
color: #0000FF;
}

