

/* ----------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,
kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: black;
	font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	vertical-align: baseline;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    	font-size: 11pt;
	line-height: 19px;
}

:focus{
	outline: 0;
}

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

header {
	width: 100%;
	height: 140px;
	position: fixed;
	top: 0px;
	margin: 0px; 
}

#content {
	margin: 145px auto 0px auto;
	width: 930px; 
	padding: 0px 0px -20px; 
}	

ol,ul{
	list-style: none;
}

/* ----------------------- */

a{ 
	color: #0000FF; 
}

a:hover{
	text-decoration: none;
}


/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */

.fixed:after{
	content: "."; 
	display: block; 
	height: 0px; 
	clear: both; 
	visibility: hidden;
}

.fixed{
	display: block;
}

#cvx{ 
	margin: 0px auto 0px auto; 
	padding: 0px 0px 0px 0px;  
	background-color: #F5F5F5; 
	border-bottom: 0px solid #FFA500; 
	border-top: 0px solid #FFA500;
}


#cv{ 
	margin: 0px auto 0px auto; 
	width: 930px; 
	padding: 0px 0px 0px 0px;  
	background-color: #FFFFFF; 
	border-bottom: 0px solid #FFA500; 
	border-top: 0px solid #FFA500;
}



/* ---------- HEADER ---------- */

.head-section{ 
	margin: 0; 
	padding: 0px; 
	border-bottom: 1px solid #dfdfdf; 
}

.person{ 
	float: left; 
	margin-top: 0px; 
	margin-left: 0px;
	width: 100%; 
	height: 105px;
	text-align: center;
}
	
	.person h1{ 
		margin-top: 27px; 
		margin-bottom: 22px;
		color: #000000; 
		font-weight: 600; 
		font-size: 34pt; 
		letter-spacing: -1px;
	}

	.person h2{ 
		color: #000000; 
		font-weight: 500; 
		font-size: 16pt; 
	}

li{
	margin-left: 15pt; 
	margin-bottom: 9pt;
}










/* ---------- SECTIONS ---------- */


.cv-section{ 
	margin: 0 30px; 
	padding: 25px 0; 
	border-bottom: 1px solid #dfdfdf;
}
	
.cv-section-name{ 
	float: left; 
	width: 150px; 
}

h2.cv-section-name{ 
	font-size: 18pt; 
	font-weight: 400; 
}
				
.cv-section-items{ 
	float: right; 
	margin-right: 0px; 
	width: 870px; 
}

.last-cv-section{ 
	border-bottom: none; 
}

li.pre{	list-style-image: url("images/pre.png"); }
li.conf{list-style-image: url("images/conf.png"); }
li.jour{list-style-image: url("images/jour.png"); }
li.thes{list-style-image: url("images/thes.png"); }
li.pat{ list-style-image: url("images/pat.png"); }
li.book{list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFElEQVQYlWPYdsn0PyHMMKqIKEUADRTdfb1bqsUAAAAASUVORK5CYII=");}

li.aut{	list-style-image: url("images/austria_64.png"); }
li.bel{	list-style-image: url("images/belgium_64.png"); }
li.bra{	list-style-image: url("images/brazil_64.png"); }
li.can{	list-style-image: url("images/canada_64.png"); }
li.chi{	list-style-image: url("images/china_64.png"); }
li.cze{	list-style-image: url("images/czech_64.png"); }
li.den{	list-style-image: url("images/denmark_64.png"); }
li.fid{	list-style-image: url("images/fide.png"); }
li.fra{	list-style-image: url("images/france_64.png"); }
li.ger{	list-style-image: url("images/germany_64.png"); }
li.ind{	list-style-image: url("images/india_64.png"); }
li.lat{	list-style-image: url("images/latvia_64.png"); }
li.mex{	list-style-image: url("images/mexico_64.png"); }
li.net{	list-style-image: url("images/netherlands_64.png"); }
li.pol{	list-style-image: url("images/poland_64.png"); }
li.por{	list-style-image: url("images/portugal_64.png"); }
li.spa{	list-style-image: url("images/spain_64.png"); }
li.swi{	list-style-image: url("images/switzerland_64.png"); }
li.uae{	list-style-image: url("images/uae_64.png"); }
li.usa{	list-style-image: url("images/usa_64.png"); }

/* ---------- ITEMS ---------- */	
			
.item{ 
	margin-bottom: 0px; 
	padding-bottom: 0px; 
	border-bottom: 0px; 
}

	/* ----- DATE ----- */		
	.item h4{ 
		float: right;  
		color: #333333; 
		font-size: 13pt;
	}

	/* ----- TITLE ----- */
	.item h2{ 

		font-size: 14pt; 
		font-weight: 500; 
		margin-bottom: 5pt; 
	}

	/* ----- SUBTITLE ----- */
	.item h3{ 
		margin-top: -5pt; 
		padding: 5px 0px 5px; 
		color: #262625; 
		
		font-size: 12pt; 
		font-style: italic; 
		font-weight: 400;
	}
	
	.item p{ 
		padding: 0px 0px 10px; 
		text-align: justify;
	}
	
	.item ul{ 
		padding: 0 0 15px; 
		list-style: outside; 
		text-align: justify;
	}

	.item ul li{ 
		list-style-type: disc; 
	}






.nav ul {
  list-style: none;
  background-color: #CE285B;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px #888888 solid;
}
.nav li {
  padding-right: 5px;
  padding-left: 5px;
}
 
.nav a {
  font-family: Verdana;
  font-size: 14pt;
  line-height: 40px;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  transition: .3s background-color;
  padding: 0px 20px;
}

.nav a.active {
  background-color: #FFFFFF;
  color: #000000;
}

.nav a:hover, .nav a.active:hover {
  background-color: #FFFFFF;
  color: #000000;
}
 
@media screen and (min-width: 300px) {
  .nav li {
    margin-left: 5px;
    margin-right: 5px;
    height: 28px;
    display: inline-block;
    font-size: 14pt;
  }
}