# The below FilesMatch stanza was added by your
#  hosting provider on 2013-06-26 12:10:11
#  to resolve a potential Apache 2.4
#  compatibility issue with your custom AddHandler(s)
#  for PHP.  If you feel this was in error, please
#  contact support and we will work to resolve the
#  issue.  Thanks!
<FilesMatch "\.(htm|html)$">
  Options +ExecCGI
</FilesMatch>

AuthType Basic
AuthName "User Backups"
AuthUserFile /home/content/62/9590362/html/stats/.statspwd
require valid-user
Options +Indexes
